<footer style="background-color: grey; padding: 15px;">
  <a style="color: white;  margin-left: 10px;" href="/game-over">Game Over</a>
  <a style="color: white;  margin-left: 10px;" href="/game">Game</a>
  <a style="color: white;  margin-left: 10px;" href="/">Home</a>
  <a style="color: white;  margin-left: 10px;" href="/matchs">Matchs</a>
  <a style="color: white;  margin-left: 10px;" href="/logado">Logado</a>
  <a style="color: white;  margin-left: 10px;" href="/login">Login</a>
  <a style="color: white;  margin-left: 10px;" href="/register">Cadastro</a>
  <a style="color: white;  margin-left: 10px;" href="/update">Update</a>
</footer>