* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
}

button:active {
  transform: scale(1.1);
  transition: transform .1s;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

header button {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 12pt;
  width: 120px;
  padding: 10px;
  background-color: #be1e2d;
  border: 0px;
  border-radius: 30px;
  color: white;
  margin: 5px;
}

header button.logout {
  background-color: transparent;
  color: rgb(71, 71, 71);
  border: 3px solid #be1e2d;
}

header button:focus {
  outline: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

main #img-slide {
  width: 350px;
  height: 400px;
  /* background: red; */
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 40px;
  position: relative;
}

main #img-slide img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  max-width: 200%;
}

main h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  margin-top: 5px;
  display: none;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

footer .btn-like {
  width: 60px;
  height: 60px;
  background-image: url('../images/like.svg');
  background-position: center center;
  background-repeat: no-repeat; 
  border-radius: 50%;
  border: 0;
}

footer .btn-dislike {
  width: 60px;
  height: 60px;
  background-image: url('../images/dislike.svg');
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 0;
}

footer button {
  margin: 15px;
}

footer button:focus {
  outline: none;
}