<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mini-Tínder - Game</title>
  <link rel="stylesheet" href="./styles/game-over.css">
</head>
<body>
  <div class="container">
    <header>
      <a href="/update"><button class="logon">EDITAR</button></a>
      <a href="/matchs"><button class="meus-likes">MATCHS</button></a>
      <a href="/logout"><button class="logout">SAIR</button></a>
    </header>
    <main>
      <div id="img-slide">
        <h2>Não há mais usuários no momento</h2>
      </div>
    </main>
  </div>
</body>
</html>
